{
  "parser": "babel-eslint",
  "extends": ["node-style-guide", "plugin:react/recommended", "prettier"],
  "rules": {
    "max-statements": [0],
    "jsx-quotes": ["error", "prefer-double"],
    "react/prop-types": [0]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
