#Download mbtiles

container_commands:
  00_create_data_dirs:
    command: "mkdir -p /efs/data/capture /efs/data/db /efs/data/rabbitmq /efs/data/tiles > /dev/null"
  01_get_earth_tiles:
    command: "/tmp/eb-get-earth-tiles.sh"

files:
  "/tmp/eb-get-earth-tiles.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        cd /efs/data/tiles || exit 1
        if [ ! -f tiles.mbtiles ]; then
          echo "No tiles found, downloading..."
          rm latest.planet.mbtiles.gz
          wget https://s3.amazonaws.com/mapbox/osm-qa-tiles-production/latest.planet.mbtiles.gz
          gunzip latest.planet.mbtiles.gz
          mv latest.planet.mbtiles tiles.mbtiles
        else
          echo "Tiles already exist, skipping download step..."
        fi
