#Download mbtiles

files:
  "/tmp/get-earth-tiles.sh":
    mode: "00755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      DIR=/var/app/current/docker/data/tiles
      # docker/data/tiles is shared volume with api component
      mkdir -p $DIR
      cd $DIR || exit 1
      rm latest.planet.mbtiles.gz
      wget https://s3.amazonaws.com/mapbox/osm-qa-tiles-production/latest.planet.mbtiles.gz
      gunzip -v latest.planet.mbtiles.gz
      mv latest.planet.mbtiles tiles.mbtiles

commands:
  00_get_earth_tiles:
    command: "/tmp/get-earth-tiles.sh"
