version: "3"

services:
  tile-processor:
    build:
      context: ../.
      dockerfile: docker/tile-processor/Dockerfile.prod
    image: hot-mapping-vis-tile-processor
    environment:
      - GENERATE_UNDERZOOM=0 # set to 1 to generate underzooms, this requires A LOT of CPU/RAM
    volumes:
      - ./data/tiles:/data/tiles # volume shared with api

  server:
    build:
      context: ../.
      dockerfile: docker/server/Dockerfile
    image: hot-mapping-vis-server
    restart: on-failure
    ports:
      - "80:80"
      - "8080:80"
    volumes:
      - ./data/capture:/data/capture # volume shared with nginx
    depends_on:
      - api
      - frontend

  frontend:
    build:
      context: ../.
      dockerfile: docker/frontend/Dockerfile.prod
      args:
        - NODE_ENV=production
        - MAPBOX_ACCESS_TOKEN # env passed from shell, to dockerfile arg, so we can build using env variables
    image: hot-mapping-vis-frontend-prod
    restart: on-failure
    environment:
      - NODE_ENV=production
      - MAPBOX_ACCESS_TOKEN # env passed from shell
    expose:
      - 3000

  renderer:
    build:
      context: ../.
      dockerfile: docker/renderer/Dockerfile.prod
      args:
        - NODE_ENV=production
    image: hot-mapping-vis-renderer-prod
    restart: on-failure
    environment:
      - NODE_ENV=production
      - RENDER_QUEUE=render_queue
      - MAPBOX_ACCESS_TOKEN # env passed from shell
    depends_on:
      - rabbitmq
    volumes:
      - ./data/capture:/data/capture # volume shared with nginx

  api:
    build:
      context: ../.
      dockerfile: docker/api/Dockerfile.prod
      args:
        - NODE_ENV=production
    image: hot-mapping-vis-api-prod
    restart: on-failure
    environment:
      - NODE_ENV=production
      - RENDER_QUEUE=render_queue
      - MAILGUN_FROM=visualize@hotosmmail.org
      - MAILGUN_API_KEY # env passed from shell
      - MAILGUN_DOMAIN # env passed from shell
      - SERVER_DOMAIN # env passed from shell
      - POSTGRES_PASSWORD # env passed from shell
      - POSTGRES_USER # env passed from shell
    volumes:
      - ./data/tiles:/data/tiles # volume shared with api
    depends_on:
      - db
      - rabbitmq
    expose:
      - 4000

  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD # env passed from shell
      - POSTGRES_USER # env passed from shell
    volumes:
      - ./data/db:/var/lib/postgresql/data
      - ./../db/init.sh:/docker-entrypoint-initdb.d/init.sh
    expose:
      - 5432

  rabbitmq:
    image: rabbitmq:3
    hostname: "rabbitmq"
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
    expose:
      - 15672
      - 5672

