@import "~@blueprintjs/core/lib/less/variables.less";

.container {
  height: 100vh;
}

.main {
  display: flex;
  height: calc(100% - 50px);
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: 350px;

  box-shadow: @pt-elevation-shadow-2;
}

.sidebar-content {
  flex-grow: 1;
}

.sidebar-footer {
  background: @light-gray4;
  height: 40px;

  display: flex;
  align-items: center;
}

.sidebar-footer__content {
  flex-grow: 1;
  text-align: center;
}

.map {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.map-content {
  flex-grow: 1;
}

@map-footer-height: 40px;

.map-footer {
  height: @map-footer-height;

  box-shadow: @pt-elevation-shadow-2;

  display: flex;
}

.map-footer__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.map-footer__items {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
}

.map-footer__progressbar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.map-footer__date {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: @map-footer-height;

  background: @light-gray4;
}
