@import "~@blueprintjs/core/lib/less/variables.less";
@blue1: #b73636;
@blue2: #b73636;
@blue3: #b73636;
@blue4: #b73636;
@blue5: #b73636;

@red: #d73f3f;
@pale-red: #f5ebeb;
@light-gray3: #f0efef;
@hot-gray: #68707f;

body {
  overflow: hidden;
  font-family: "Archivo", sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

*:focus {
  outline: 0 !important;
}

.container {
  height: 100vh;
}

.main {
  // display: flex;
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 3;

  width: 350px;
  background: white;
  transition: margin 0.3s ease-in;
  margin-left: 0;
  // box-shadow: @pt-elevation-shadow-2;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.1), 0 2px 6px rgba(16, 22, 26, 0.1);

  &--hiden {
    margin-left: -335px;
  }
}

.sidebar-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  margin-top: @navbar-height;
}

.sidebar-content__inside {
  height: calc(~"100vh - 40px - 40px");
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-tabs,
.sidebar-data {
  flex-grow: 1;
}

.sidebar-header {
  background: #ebebeb;
  border-bottom: 2px solid white;
  padding: 5px 5px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    margin: 0;
    padding: 0;
    color: @red;
    font-weight: normal;
  }
}

.sidebar-toggle {
  width: 15px;
  min-width: 15px;
  height: 100%;
  background: @light-gray3;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.sidebar-footer {
  background: #f8f7f7;
  border-top: 1px solid #eee;
  max-height: 40px;
  min-height: 40px;

  display: flex;
  align-items: center;
}

.sidebar-footer__content {
  flex-grow: 1;
  text-align: center;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.map-content {
  flex-grow: 1;
}

.map-legend {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 10px;
  width: 100px;
  padding: 5px 10px;

  .map-legend__square {
    width: 17px;
    height: 17px;
    display: block;
    background-color: red;
  }
}

@map-footer-height: 40px;

.map-footer {
  background: white;
  height: @map-footer-height;

  box-shadow: @pt-elevation-shadow-2;

  display: flex;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 350px;

  transition: left 0.3s ease-in;
  z-index: 2;
}

.map-footer__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.map-footer__items {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
}

.map-footer__progressbar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.map-footer__date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  width: 100px;
  height: @map-footer-height;

  background: @light-gray3;
}

.pt-daterangepicker {
  padding: 10px;
  .DayPicker {
    min-width: 0;
  }
}

.color-picker {
  position: relative;
  .popover {
    right: 0;
    bottom: 25px;
    z-index: 7;
  }
}

.color-picker__swatch {
  padding: 3px;
  background: #ffffff;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  // margin-right: 5px;
}

.color-picker__color {
  width: 24px;
  height: 12px;
  border-radius: 2px;
  background: transparent;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inline-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  color: @hot-gray;
}

.inline-label h5 {
  margin: 0;
  color: @hot-gray;
}

.inline-label input[type="number"] {
  width: 30px;
  height: 20px;
  font-size: 11px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.section__header {
  .inline-label();
  padding: 5px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid @hot-gray;
  padding-bottom: 20px;
  // border-bottom: 1px solid #f0f0f0;
}

.section__header h4 {
  margin: 0;
  padding: 0;
}

.section {
  margin-bottom: 15px;
}

.subsection {
  padding-bottom: 10px;
}

.export-menu {
  position: absolute;
  z-index: 999;
  top: 100px;
  left: calc(50% - 200px);
  margin: 10vh 0;
  width: 400px;
}

.color-picker input {
  width: 40px;
}

.form-body label {
  padding: 20px 0;
}

.mapboxgl-ctrl-geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  right: 50px;
  top: 10px;
  border-radius: 0;
}

.mapboxgl-ctrl-top-right {
  top: 50px;
  right: 10px;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.sidebar__card {
  margin-bottom: 10px;
}

.sidebar-panel {
  // padding-top: 10px;
}

.pt-card {
  margin: 10px;
  .pt-card {
    margin: 0 0 20px 0;
  }
}

.pt-tab-list {
  padding: 10px 10px 0 10px;
  font-size: 22px;
}

.pt-datepicker-year-select,
.pt-datepicker-month-select {
  font-size: 12px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}

.sidebar-data p {
  font-weight: bold;
}

.sidebar-data p span.value {
  font-weight: normal;
}

.export-tabs {
  label {
    padding: 20px 0;
  }
}

// .pt-button.active {
//   text-decoration: underline;
// }

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.map.full-screen-mode {
  .mapboxgl-ctrl-top-right {
    top: 10px;
    opacity: 0;
  }
}

.about-page {
  z-index: 99999999999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;

  .about-page__content {
    h2 {
      margin-bottom: 50px;
    }
    margin-top: 50px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    max-width: 600px;
    text-align: justify;
    margin: 0 auto;
  }
}
.pt-toast-container.pt-toast-container-top {
  top: 50px;
}

.route {
  border-radius: 0;
}

.pt-button.route {
  background: none;
  margin-left: 5px;
}

.pt-button.route:hover,
.pt-button.route.active,
.pt-button.route.active:hover {
  // box-shadow: inset 0 -2px 0 @red!important;
  border-bottom: 1px solid @red;
  background: none !important;
}

.pt-tab[aria-selected="true"],
.pt-tab[aria-selected="true"]:hover {
  color: @red;
  box-shadow: inset 0 -2px 0 @red !important;
}
.pt-tab[aria-selected="true"],
.pt-tab:not([aria-disabled="true"]):hover {
  color: @red;
}
.pt-button-group.pt-minimal .pt-button.pt-intent-primary {
  color: @red;
}

.pt-label {
  color: @hot-gray;
}

.info-label {
  display: block;
  padding: 40px 0;
  color: @hot-gray;
}

.pt-button-group.pt-minimal {
  a {
    color: @red;
    letter-spacing: 0.035em;
  }
}

.pt-tab-indicator-wrapper .pt-tab-indicator {
  display: none;
}

.pt-card {
  border-radius: 0;
}

.pt-input {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #d2d2d2;
  width: 100%;
}

.pt-daterangepicker .DayPicker-Day--selected-range {
  background-color: @pale-red;
}

.pt-datepicker .DayPicker-Day.DayPicker-Day--selected {
  background-color: @red;
}

.pt-button {
  border-radius: 0;
}

.pt-button:not([class*="pt-intent-"]):active,
.pt-button:not([class*="pt-intent-"]).pt-active {
  background: @pale-red;
}

// Datepicker

.pt-datepicker {
  padding: 0;
}

.pt-datepicker .DayPicker-NavButton {
  padding: 0;
  top: 3px;
}
.pt-datepicker .pt-datepicker-caption {
  text-align: center;
}

.pt-datepicker .pt-datepicker-caption .pt-datepicker-month-select {
  padding: 0 5px;
}

.pt-datepicker .DayPicker-Weekday {
  font-size: 11px;
}

.pt-datepicker .DayPicker-Day {
  font-size: 12px;
}

// .pt-slider-track, .pt-slider-progress {
//   background: @pale-red;
// }

.pt-slider-progress,
.pt-dark .pt-slider-progress {
  background: @red;
}

.export-menu {
  .pt-button {
    margin-left: 75%;
  }
  .pt-input {
    width: auto;
  }
}

.export-menu {
  h4 {
    padding-bottom: 10px;
    color: @red;
  }
  .url-share {
    .pt-input {
      width: 100%;
    }

    border-bottom: 1px solid @light-gray3;
  }
}

.pt-navbar {
  height: 40px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.1);
}

.pt-navbar-heading {
  color: @red;
  padding-left: 10px;
}

.logo {
  width: 45px;
  height: 27px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background: url("img/logo.svg");
}

.pt-button-group.pt-minimal .pt-button.pt-intent-primary:hover,
.pt-button-group.pt-minimal .pt-button:hover {
  background: @pale-red;
  color: @red;
}

textarea.pt-input {
  resize: none;
}

div.pt-tab-list {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.inside-content {
  padding: 20px;
}

.pt-tab-panel {
  margin-top: 0;
}

.div.pt-button-group {
  .pt-button:not([class*="pt-intent-"]),
  .pt-button {
    box-shadow: none;
    background-image: none;
    background: none;
  }
}

.pt-button:not([class*="pt-intent-"]),
.pt-button:not([class*="pt-intent-"]):hover {
  box-shadow: none;
  background: none;
}
.pt-button:not([class*="pt-intent-"]) {
  box-shadow: none;
  background-image: none;
}
.pt-button:not([class*="pt-intent-"]):active,
.pt-button:not([class*="pt-intent-"]).pt-active {
  box-shadow: none;
  background: none;
}
.pt-button:not([class*="pt-intent-"]).pt-active {
  border-bottom: 2px solid @red;
}

.separator {
  margin: -10px;
  color: #eee !important;
  pointer-events: none;
}

.sidebar-data .inline-label {
  padding-bottom: 10px;
  margin-bottom: 30px;
}

// TODO: Fix this
.pt-button.action-button {
  background: @red!important;
  color: white !important;
  padding: 15px !important;

  border-radius: 2px;

  .pt-icon {
    color: white !important;
  }

  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.mapboxgl-ctrl-bottom-right {
  bottom: 40px;
}

.mapboxgl-ctrl-scale {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 10px;
  border-width: medium 2px 2px;
  border-style: none solid solid;
  border-color: #333;
  padding: 0 5px;
  color: #333;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
  margin: 0;
}

@navbar-height: 40px;

a.pt-button.start-button {
  margin-top: 50px;
}

.hot-theme {
  // Navbar
  .pt-navbar {
    font-size: 18px;
  }
  .pt-navbar,
  .pt-navbar-group {
    height: @navbar-height;
    .pt-button {
      font-size: 13px;
      box-sizing: border-box;

      &.disabled,
      &:disabled {
        background: none;
        cursor: not-allowed;
        color: rgba(92, 112, 128, 0.5);
        pointer-events: none;
      }

      &.route {
        padding: 0 10px;
        height: 20px;
        border-bottom: 2px solid transparent;

        &:hover,
        &.active,
        &.active:hover {
          border-bottom: 2px solid @red;
        }
      }
    }
  }

  .pt-slider .pt-slider-label {
    font-size: 10px;
  }

  .pt-slider .pt-slider-handle .pt-slider-label {
    box-shadow: none;
    background: @red;
  }

  // Map footer
  .map-footer__progressbar {
    .pt-slider-progress {
      background: @red;
    }
    .pt-slider-track,
    .pt-slider-progress {
      height: 10px;
      border-radius: 5px;
    }
    .pt-slider-handle {
      top: 5px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
    }
  }

  // Buttons
  .pt-button {
    color: @red;
    .pt-icon {
      color: @red;
    }
    &.help-button {
      border: none;
    }
  }
}

.mapboxgl-ctrl-top-right {
  opacity: 0;
}

.edit-mode .mapboxgl-ctrl-top-right {
  opacity: 1;
}

.help-popover {
  padding: 20px;
  max-width: 250px;
}
