@import "~@blueprintjs/core/lib/less/variables.less";

body {
  overflow: hidden;
}

.container {
  height: 100vh;
}

.main {
  // display: flex;
  height: calc(100% - 50px);
}

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  display: flex;
  z-index: 3;

  width: 350px;
  background: white;
  transition: margin 0.5s ease-in;
  margin-left: 0;
  box-shadow: @pt-elevation-shadow-2;

  &--hiden {
    margin-left: -335px;
  }
}

.sidebar-content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 5px;
}

.sidebar-tabs {
  flex-grow: 1;
}

.sidebar-toggle {
  width: 15px;
  height: 100%;
  background: @light-gray3;

  display: flex;
  align-items: center;

  cursor: pointer;

  &::after {
    content: "\2807";
    font-size: 30px;
  }
}

.sidebar-footer {
  background: @light-gray4;
  height: 40px;

  display: flex;
  align-items: center;
}

.sidebar-footer__content {
  flex-grow: 1;
  text-align: center;
}

.map {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 40px;

  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.map-content {
  flex-grow: 1;
}

@map-footer-height: 40px;

.map-footer {
  height: @map-footer-height;

  box-shadow: @pt-elevation-shadow-2;

  display: flex;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 350px;

  transition: left 0.5s ease-in;
}

.map-footer__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.map-footer__items {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
}

.map-footer__progressbar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.map-footer__progressbar .pt-slider-track,
.pt-slider-progress {
  height: 10px;
  border-radius: 5px;
}

.map-footer__progressbar .pt-slider-handle {
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.map-footer__date {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 100px;
  height: @map-footer-height;

  background: @light-gray4;
}

.pt-daterangepicker {
  padding: 10px;
  .DayPicker {
    min-width: 0;
  }
}

.color-picker {
  display: flex;
  align-items: center;
}

.color-picker__swatch {
  padding: 3px;
  background: #ffffff;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  // margin-right: 5px;
}

.color-picker__color {
  width: 24px;
  height: 12px;
  border-radius: 2px;
  background: transparent;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inline-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.inline-label h5 {
  margin: 0;
}

.inline-label input[type="number"] {
  width: 30px;
  height: 20px;
  font-size: 11px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.section__header {
  .inline-label();
  padding: 5px 0;
  margin: 0 0 20px 0;
  // border-bottom: 1px solid #f0f0f0;
}

.section__header h4 {
  margin: 0;
  padding: 0;
}

.export-menu {
  position: absolute;
  z-index: 999;
  top: 0;
  left: calc(50% - 200px);
  margin: 10vh 0;
  width: 400px;
}

.color-picker input {
  width: 40px;
}

.form-body label {
  padding: 10px 0;
}

.mapboxgl-ctrl-geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  right: 50px;
  top: 20px;
}

.sidebar__card {
  margin-bottom: 10px;
}

// Temp!
.styles-panel {
  height: calc(~"100vh - 100px - 50px");
  overflow: scroll;
}

.pt-card {
  margin: 10px;
  .pt-card {
    margin: 0 0 20px 0;
  }
}

.pt-tab-list {
  padding: 10px 10px 0 10px;
}

.pt-datepicker-year-select,
.pt-datepicker-month-select {
  font-size: 12px;
}
